/* Write your CSS here */
.app-container {
  background-color: #1e293b;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 1140px;
}
.component-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.heading {
  color: #f0bb03;
  font-family: 'Bree Serif';
  font-size: 32px;
  margin-bottom: 20px;
}
.description {
  color: #ffffff;
  font-family: 'Bree Serif';
  font-size: 22px;
  margin-bottom: 10px;
}
.button {
  color: #1e293b;
  font-family: 'Bree Serif';
  font-size: 12px;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  padding: 12px;
  background-color: #ffffff;
}
